body {
  font-size : 16px;
}

section, .entete {
  min-height: 100vh;
}
#accueil {
  background-color: var(#{$couleur2});
  //background-color: #c9d5e0;
}
#un {
  background-color: hsla(206, 14%, 90%, 0.5);
}
#deux {
  background-color: hsla(206, 14%, 90%, 0.5);
}
#trois {
  background-color: hsla(206, 14%, 90%, 0.5);
}
#quatre {
  background-color: hsla(206, 14%, 90%, 0.5);
}
#cinq {
  background-color: hsla(206, 14%, 90%, 0.5);
}
