/*
$color1: #3498db; // Bleu
$color2: #e74c3c; // Rouge
$color3: #2ecc71; // Vert
$color4: #f1c40f; // Jaune
$color5: #9b59b6; // Violet
*/

:root {
  --couleur1: #90adc6;
  --couleur2: #e9eaec;
  --couleur3: #fad02c;
  --couleur4: #333652;
}

$couleur1: --couleur1;
$couleur2: --couleur2;
$couleur3: --couleur3;
$couleur4: --couleur4;
$couleur5: --couleur5;

@mixin applique-couleur($elements, $couleur) {
  #{$elements} {
    color: var(#{$couleur});
  }
}

@mixin applique-couleur-fond($elements, $couleur, $back) {
  #{$elements} {
    color: var(#{$couleur});
    background-color: var(#{$back});
  }
}
