/*
$color1: #3498db; // Bleu
$color2: #e74c3c; // Rouge
$color3: #2ecc71; // Vert
$color4: #f1c40f; // Jaune
$color5: #9b59b6; // Violet
*/

:root {
  /*
  --color1: #3498db; // Bleu
  --color2: #e74c3c; // Rouge
  --color3: #2ecc71; // Vert
  --color4: #f1c40f; // Jaune
  --color5: #9b59b6; // Violet
*/
  --color1: #90adc6;
  --color2: #e9eaec;
  --color3: #fad02c;
  --color4: #333652;



}



$color1: --color1;
$color2: --color2;
$color3: --color3;
$color4: --color4;
$color5: --color5;

@mixin applique-couleur($elements, $color) {
  #{$elements} {
    color: var(#{$color});
  }
}

@mixin applique-couleur-fond($elements, $color, $back) {
  #{$elements} {
    color: var(#{$color});
    background-color : var(#{$back});
  }
}

