$couleur : (
   gris : #aaa, 
   rouge : #f00, 
   vert : #0f0, 
   bleu : #00f, 
   orange : rgb(255, 196, 0 ));

:root {

@each $nom, $valeur in $couleur {
    --couleur_#{$nom} : #{$valeur};
}

}



@each $nom, $valeur in $couleur {
    .couleur_#{$nom} {
        color : var(--couleur_#{$nom});
}
}