#palette {
  border: 1px solid #aaa;
  display: flex;
  flex-direction: row;
}
.palette__label {
  display: flex;
  border: 2px solid #aaa;
  margin: 5px 20px;
  padding: 0;
  width: 133px;
}
.palette__label__div {
  //display: inline-block;
  padding: 0.8rem;
  width: 1px;
  height: 1px;
  //border: 1px solid #ccc;
  // border-radius: 50%;
  cursor: pointer;
}


