/*
Sélecteur textuel de base

https://developer.mozilla.org/en-US/docs/Web/CSS/clamp
https://clamp.font-size.app/?config=eyJyb290IjoiMTYiLCJtaW5XaWR0aCI6IjUwMHB4IiwibWF4V2lkdGgiOiI5MDBweCIsIm1pbkZvbnRTaXplIjoiMTZweCIsIm1heEZvbnRTaXplIjoiNDhweCJ9

*/
body {
  margin : 0;
  padding:0;
}

h1 {
  font-size: clamp(1.875rem, -1.25rem + 10vw, 5.625rem);
  /* text-shadow: 3px 5px 6px var(--_couleur-ombrage); */
  font-weight: bold;
  /* letter-spacing: -3px; */
  padding : 3rem;
}

h2 {
  font-size: clamp(1.5625rem, -0.2604rem + 5.8333vw, 3.75rem);
  font-weight: bold;
  padding : 2rem;
}

h3 {
  font-size: clamp(1.4375rem, 0.0313rem + 4.5vw, 3.125rem);
  font-weight: bold;
  padding : 2rem;
}

h4 {
  font-size: clamp(1.3rem, 0.0313rem + 4.5vw, 3rem);
  padding : 2rem;
}
h5 {
  font-size: clamp(1.2rem, 0.0313rem + 4.5vw, 2.8rem);
  padding : 2rem;
}
h6 {
  font-size: clamp(1rem, 0.0313rem + 4.5vw, 2.5rem);
  padding : 2rem;
}

p {
  font-size: clamp(1rem, 0.4792rem + 1.6667vw, 1.625rem);
  line-height: 1.8rem;
  padding: 2rem;
}

hr {
}

blockquote {
  // background-color: var(--_couleur-arriere-blockquote);
  // color: var(--_couleur-blockquote);
  padding: 2rem;
  width: 95%;
  font-size: clamp(1.25rem, 0.7292rem + 1.6667vw, 1.875rem);
  font-style: italic;
  // border-left: 10px solid var(--_couleur-bordure);
}

blockquote::first-letter {
  font-size: clamp(1.5625rem, -0.2604rem + 5.8333vw, 3.75rem);
  font-weight: bold;
  color: var(--_couleur-blockquote-first-letter);
}

// Appliquer les couleurs aux éléments HTML
/*
:root {
  --color1: #90adc6;
  --color2: #e9eaec;
  --color3: #fad02c;
  --color4: #333652;
}
  */

@include applique-couleur-fond('.entete__principal', $color4, $color3);
@include applique-couleur-fond('.entete__secondaire', $color1, $color4);
@include applique-couleur-fond(h1, $color1, $color3);
@include applique-couleur-fond('.titre', $color2, $color4);
@include applique-couleur(h2, $color2);
@include applique-couleur(h3, $color3);
@include applique-couleur(h4, $color4);
@include applique-couleur(h5, $color5);
@include applique-couleur(h6, $color1);
@include applique-couleur(p, $color2);
@include applique-couleur(ul, $color3);
@include applique-couleur(ol, $color4);
@include applique-couleur(figure, $color5);


@include police(h1, $police_1);
@include police(h2, $police_2);
@include police(h3, $police_3);