/* Liens */
a {
  color: #007bff;
  text-decoration: none;
  transition: color 0.3s;
}



a {
  color: var(--couleur-lien);

  &:visited {
    color: var(--couleur-lien-visited);
  }

  &:hover,
  &:focus,
  &:active {
       color: var(--couleur-lien-hover);
  }

  &:focus {
    outline: thin dotted;
  }

  &:hover,
  &:active {
    outline: 0;
  }
}